language: java
jdk: oraclejdk8

addons:
  sonarcloud:
    organization: "lilian59480-github"
    token:
      secure: $SONAR_TOKEN # encrypted value of your token
    
before_install:
  - echo $TRAVIS_COMMIT
  - echo $TRAVIS_TAG
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_BUILD_NUMBER
  - echo $TRAVIS_REPO_SLUG
    
script:
  - sonar-scanner
